.container{
  padding:0 30rpx;
  .top{
    display: flex;
    padding:30rpx 0;
    line-height: 70rpx;
    height: 70rpx;
    .addr{
      flex: 1;
      display: flex;
      align-items: center;
      .img{
        width:20px;
        height: 20px;
        margin-right: 6px;
      }
    }
    .search{
      width: 350rpx;
      flex: none;
      border-radius: 30rpx;
      padding:0 20rpx;
      box-sizing: border-box;
      background: #fff;
      color: #999;
      display: flex;
      align-items: center;
      justify-content: start;
      .img{
        width:25px;
        height: 25px;
        margin-right: 10px;
      }
      input{
        line-height: 68rpx;
        height: 68rpx;
      }
    }
  }


  .swiper{
    margin-bottom: 30rpx;
    height: 250rpx;
    border-radius:10rpx;
    overflow: hidden;
    .swiper-image {
      width: 100%;
      height: 100%;
    }
  }

  .tip{
    margin-bottom: 30rpx;
    background:#fff;
    border-radius: 15rpx;
    padding:15rpx;
    display: flex;
    align-items: center;
    color:#333;
    .img{
      width: 100px;
      flex: none;
    }
    .info{
      flex: 1;
      display: flex;
      justify-content: space-around;
    }
  }

  .filter{
    margin-bottom: 30rpx;
    background:#fff;
    border-radius: 15rpx;
    padding:30rpx;
    .tab{
      display: flex;
      .item{
        flex: 1;
        text-align: center;
        font-weight: bold;
        &.active{
          color:rgba(33, 181, 121, 1);
        }
      }
    }
    .content{
      padding:30rpx 0;
      .cate{
        padding:30rpx 0;
      }
    }
    .tit{
      border-right: 1rpx solid #e8e8e8;
      margin-right: 15rpx;
      font-weight: bold;
    }
    .text{
      color: #999;
    }
  }

  .list{
    margin:0 -15rpx;
    .item{
      display: inline-block;
      width: 50%;
      padding:15rpx;
      box-sizing: border-box;
      line-height: 50rpx;
      position: relative;
      .con{
        background: #fff;
        padding:30rpx 15rpx;
        border-radius: 10rpx;
      }
      image{
        width:100%;
      }
      .name{
        margin-bottom:10px;
      }
      .price{
        color:#F55726;
      }
      .cart{
        height:60rpx;
        width: 60rpx;
        position:absolute;
        bottom:40rpx;
        right:30rpx;
      }
    }
  }
}

