
.container{  
  box-sizing: border-box;
  padding:40rpx;
  padding-bottom: 120rpx;
  .con{
    margin-bottom:40rpx;
    background: #fff;
    position: relative;
    border-radius: 15rpx;
    padding:40rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .avatar{
      width: 100rpx;
      height: 100rpx;
      border-radius: 50%;
    }
    .info{
      flex: 1;
      padding-left:40px;
    }
    .btns{
      margin-top:40rpx;
      text-align: right;
      .btn{
        display: inline-block;
        height: 70rpx;
        line-height: 70rpx;
        text-align: center;
        border-radius: 35rpx;
        background-color: #21B579;
        color: #fff;
        padding:0 30rpx;
        margin-left: 20rpx;
      }
      .cancel{
        background-color: #F8F9FA;
        color: #333;
      }
      .complete{
        background-color: #ccc;
      }
    }
  }
  .footer{
    position: fixed;
    bottom:0;
    left:0;
    height: 120rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 50rpx;
    width: 100%;
    box-sizing: border-box;
    .contact{
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100rpx;
      margin-right: 40rpx;
      image{
        display: block;
        height: 30rpx;
        width: 30rpx;
      }
      font-size: 20rpx;
    }
    .btn{
      text-align: center;
      height: 80rpx;
      line-height: 80rpx;
      background: #21B579;
      color: #fff;
      border-radius: 40rpx;
      flex: 1;
    }
  }
}

.panel .content{
  padding:80rpx 0;
  .bg{
    width: 400rpx;
    height: 400rpx;
    margin:0 auto;
    display: block;
 }
}