
.container{  
  box-sizing: border-box;
  padding:40rpx;
  padding-bottom: 120rpx;
  .con{
    background: #fff;
    position: relative;
    border-radius: 15rpx;
    padding:0 40rpx;
    margin-bottom:40rpx;
    .p{
      border-bottom: 1rpx solid #e8e8e8;
      height: 120rpx;
      line-height: 120rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .desp{
        color: #000;
        input{
          text-align: right;
        }
      }
      .avatar{
        height: 80rpx;
        width: 80rpx;
        border-radius: 40rpx;
      }
      &:last-child{
        border:none;
      }
    }
  }
  .footer{
    position: fixed;
    bottom:0;
    left:0;
    height: 120rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 50rpx;
    width: 100%;
    box-sizing: border-box;
    .contact{
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100rpx;
      margin-right: 40rpx;
      image{
        display: block;
        height: 30rpx;
        width: 30rpx;
      }
      font-size: 20rpx;
    }
    .btn{
      text-align: center;
      height: 80rpx;
      line-height: 80rpx;
      background: #21B579;
      color: #fff;
      border-radius: 40rpx;
      flex: 1;
    }
  }
}