
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top{
  padding:30rpx;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text{
    display: flex;
    align-items: center;
    .img{
      width:16px;
      height: 16px;
      margin-left: 5px;
    }
    font-size: 28rpx;
    margin-left: 40rpx;
  }
}

.search{
  flex: 1;
  text-align: center;
  background: #F8F9FA;
  height: 70rpx;
  line-height: 70rpx;
  border-radius: 40rpx;
  padding:0 30rpx;
  display: flex;
  align-items: center;
  .img{
    width:25px;
    height: 25px;
    margin-right: 10px;
  }
  input{
    width: 100%;
    box-sizing: border-box;
    text-align: left;
  }
}
.tabs{
  flex: 0;
  display: flex;
  padding: 10rpx 0;
  background: #fff;
  .item{
    flex: 1;
    height: 80rpx;
    display: flex;
    justify-content:center;
    align-items: center;
  }
}

.main{
  overflow-y: scroll;
  flex: 1;
  .tip{
    height: 70rpx;
    line-height: 70rpx;
    background: #fff;
    padding:0 15px;
  }
  .history{
    box-sizing: border-box;
    height: 100%;
    background: #fff;
    padding: 30rpx;
    .title{
      font-size: 36rpx;
      color: #000;
      padding: 30rpx;
      font-weight: bold;
      margin-bottom: 20rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .del{
      display: inline-block;
      width:40rpx!important;
      height: 40rpx!important;
    }
  }

  .listCon{
    height: 100%
  }

  .list{
    padding:30rpx;
    margin:0 -15rpx;
    box-sizing: border-box;
    width: 100%;
    .item{
      display: inline-block;
      width: 50%;
      padding:15rpx;
      box-sizing: border-box;
      line-height: 50rpx;
      position: relative;
      .con{
        background: #fff;
        padding:30rpx 15rpx;
        border-radius: 10rpx;
      }
      image{
        width:100%;
      }
      .name{
        margin-bottom:10px;
      }
      .price{
        color:#F55726;
      }
      .cart{
        height:60rpx;
        width: 60rpx;
        position:absolute;
        bottom:40rpx;
        right:30rpx;
      }
    }
  }
}

