.top{
  background:#21B579;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 100rpx 50rpx 70rpx 50rpx;
  border-radius: 0 0 30rpx 30rpx;
  justify-content: space-between;
  .info{
    display: flex;
    align-items: center;
  }
  .name{
    font-size: 30rpx;
    margin-bottom: 10rpx;
  }
  .avatar{
    display:inline-block;
    height: 100rpx;
    width: 100rpx;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20rpx;
    border: 2rpx solid #21B579;
    .img{
      height: 100%;
      width: 100%;
    }
  }
}

.main{
  padding:0 40rpx;
  margin-top: -50rpx;
  .con{
    background: #fff;
    border-radius: 15rpx;
    padding:40rpx;
    margin-bottom: 50rpx;
    .tit, .right{
       align-items: center;
       justify-content: space-between;
       line-height: 60rpx;
      .icon{
        height: 30rpx;
        width: 30rpx;
      }
      .right{
        padding:40rpx 0;
        color: #666;
      }
    }
    .list{
      margin-top:20rpx;
      align-items: center;
      justify-content: space-between;
      line-height: 60rpx;
    }

    .items{
      padding:30rpx 0;
      align-items: center;
      justify-content: space-around;
      font-size: 28rpx;
      color: #333;
      image{
        display: inline-block;
        height: 80rpx;
        width: 80rpx;
        margin-bottom: 10rpx;
      }
    }
  }
}

.btns{
  margin-top:40rpx;
  text-align: right;
  .btn{
    height: 88rpx;
    line-height: 88rpx;
    text-align: center;
    border-radius: 44rpx;
    background-color: #21B579;
    color: #fff;
  }
  .cancel{
    background-color: #F8F9FA;
    color: #333;
  }
}


.panel{
  padding:0!important;
  background: none!important;
  .content{
    padding:0 80rpx!important;
    text-align: center;
    .bg{
      width: 600rpx;
    }
  }
  .bottom{
    padding:100rpx 50rpx 50rpx 50rpx;
    background: #fff;
    border-radius: 50rpx 50rpx 0 0;
    margin-top:-80rpx;
    .items{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40rpx;
    }
    .btn{
      background: #fff;
      border: 1px solid #ddd;
      color: #333;
      height: 80rpx;
      line-height: 80rpx;
      border-radius: 40rpx;
      text-align: center;
    }
  }
}