
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top{
  padding:30rpx;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  .select{
    margin-left: 40rpx;
  }
  text{
    display: flex;
    align-items: center;
    .img{
      width:16px;
      height: 16px;
      margin-left: 5px;
    }
    font-size: 28rpx;
  }
  .no{
      color: #666;
  }
}

.search{
  flex: 1;
  text-align: center;
  background: #F8F9FA;
  height: 70rpx;
  line-height: 70rpx;
  border-radius: 40rpx;
  padding:0 30rpx;
  display: flex;
  align-items: center;
  .img{
    width:25px;
    height: 25px;
    margin-right: 10px;
  }
  input{
    width: 100%;
    box-sizing: border-box;
    text-align: left;
  }
}
.tabs{
  flex: 0;
  display: flex;
  padding: 10rpx 0;
  background: #fff;
  .item{
    flex: 1;
    height: 80rpx;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    &.active::after{
     display:inline-block;
     content: "";
     height: 6rpx;
     width: 40rpx;
     background: #21B579;
     border-radius: 2rpx;
     position: absolute;
     bottom: 0;
     left:50%;
     transform: translateX(-50%);
    }
  }
}
.list{
  flex: 1;
  overflow-y: scroll;
  background: #F7F7F8;
  padding:30rpx;
  box-sizing: border-box;
  .item{
    display: flex;
    flex-direction: column;
    padding: 0 30rpx;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10rpx;
    margin-bottom: 30rpx;
    .state{
        color: #F55726;
    }
    .top{
      display: flex;
      justify-content: space-between;
      padding: 25rpx 0;
      border-bottom: 1rpx solid #e8e8e8;
    }
    .title{
      padding:40rpx 0 0 0;
    }
    .info{
      position: relative;
      display: flex;
      padding:40rpx 0;
      image{
        width: 130rpx;
        height: 130rpx;
      }
      .con{
        flex: 1;
        padding:20rpx;
        .p{
          margin-bottom: 20rpx;
        }
        .service{
          text-align: right;
        }
        .stage{
          text-align: right;
        }
      }
    }
    .bot{
      padding:20rpx 0 40rpx 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn{
        display: inline-block;
        height: 70rpx;
        line-height: 70rpx;
        text-align: center;
        border-radius: 35rpx;
        background-color: #21B579;
        color: #fff;
        padding:0 30rpx;
        margin-left: 20rpx;
      }
      .cancel{
        background-color: #F8F9FA;
        color: #333;
      }
    }
    .time{
      color: #999;
    }
  }
}